.content-body {
  padding: 1rem;


}

.content-header{
  margin: 2rem 1rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #e3f2fd;
    border-radius: 8px;
}


.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

h2 {
  color: #3f51b5;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  color: #3f51b5;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  color: #3f51b5;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

ul {
  padding-left: 1.5rem;
}

.object-info {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
