<aside class="sidebar">
  <div class="sidebar-header">
    <h3>Menu</h3>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li *ngFor="let item of menuItems">
        <!-- Menu item without submenu -->
        <a *ngIf="!item.submenu" [routerLink]="item.path" routerLinkActive="active">
          <i *ngIf="item.icon" class="material-icons">{{item.icon}}</i> {{item.name}}
        </a>

        <!-- Menu item with submenu -->
        <ng-container *ngIf="item.submenu && item.submenu.length > 0">
          <a (click)="toggleSubmenu(item.id || '')" [ngClass]="{'has-submenu': true, 'expanded': item.id && expandedMenus[item.id]}">
            <div><i *ngIf="item.icon" class="material-icons">{{item.icon}}</i> {{item.name}}</div>
            <span class="arrow">{{ item.id && expandedMenus[item.id] ? '▼' : '▶' }}</span>
          </a>
          <ul class="submenu" [ngClass]="{'expanded': item.id && expandedMenus[item.id]}">
            <li *ngFor="let subItem of item.submenu">
              <a [routerLink]="subItem.path" routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact: subItem.path === item.path}">
                <i *ngIf="subItem.icon" class="material-icons">{{subItem.icon}}</i> {{subItem.name}}
              </a>
            </li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </nav>
</aside>
